<form id="add">
    <label>Name</label>
    <input id="name" type="text" />
    <label>Description</label>
    <input id="description" type="text" />
    <label>Display Image</label>
    <input id="p_image" type="text" />
    <label>Width</label>
    <input id="width" type="text" />
    <label>Length</label>
    <input id="length" type="text" />
    <label>Height</label>
    <input id="height" type="text" />
    <label>Weight</label>
    <input id="weight" type="text" />
    <label>Value</label>
    <input id="value" type="text" />
    <input class="save-product" type="submit" value="save" />
</form>